* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orange {
  background-color: #FF9A4B;
}

.position {
  position: relative;
}

header, footer {
  height: 50px;
  background-color: #AAAAAA;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-box {
  width: 300px;                                                                                                                                                                                                                                                                                                                
  margin-left: 30px;
  background-color: #EEEEEE;
}

.main-box:first-child {
  margin-left: 0;
}

.main-top {
  position: absolute;
  color: #FFFFFF;
  display: inline-block;
}

.main-item {
 margin: 10px; 
}

.main-image {
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.img1 {
    background-image: url(img/flow01.png);
}

.img2 {
    background-image: url(img/flow02.png);
}

.img3 {
    background-image: url(img/flow03.png);
}

h3 {
  margin: 15px 0 5px;
}