* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.orange {
  background-color: #FF9A4B;
}

.position {
  position: relative;
}

header, footer {
  height: 50px;
  background-color: #AAAAAA;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.main-box {
  width: 300px;
  height: 300px;
  margin-left: 30px;
  background-color: #EEEEEE;
}

.main-box:first-child {
  margin-left: 0;
}

.main-top {
  color: #FFFFFF;
  display: inline-block;
}

.main-item {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
}

.main-image {
  height: 150px;
}